[submodule "predix-scripts"]
	path = predix-scripts
	url = https://github.com/songwenbin247/predix-scripts.git
	branch = mod-bus
[submodule "predix-sdks"]
	path = predix-sdks
	url = https://github.com/songwenbin247/predix-sdks.git
	branch = mod-bus
[submodule "Predix-HelloWorld-WebApp"]
	path = Predix-HelloWorld-WebApp
	url = https://github.com/songwenbin247/Predix-HelloWorld-WebApp.git
	branch = mod-bus
[submodule "fdh-router-service"]
 	path = fdh-router-service
	url = https://github.com/songwenbin247/fdh-router-service.git
	branch = mod-bus
[submodule "rmd-datasource"]
	path = rmd-datasource
	url = https://github.com/songwenbin247/rmd-datasource.git
	branch = mod-bus
[submodule "predix-websocket-server"]
	path = predix-websocket-server
	url = https://github.com/songwenbin247/predix-websocket-server.git
	branch = mod-bus
[submodule "data-seed-service"]
	path = data-seed-service
	url = https://github.com/songwenbin247/data-seed-service.git
	branch = mod-bus
[submodule "rmd-ref-app-ui"]
	path = rmd-ref-app-ui
	url = https://github.com/songwenbin247/rmd-ref-app-ui.git
	branch = mod-bus
